In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("500hits.csv", encoding="latin-1")

In [4]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [5]:
df = df.drop(columns = ["PLAYER", "CS"])

In [6]:
df.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,0.366,1
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,0.331,1
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,0.345,1
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,0.310,1
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,0.329,1

In [9]:
X = df.iloc[:, 0:13]
Y = df.iloc[:, 13]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 17, test_size = 0.2)

In [13]:
X_train.shape

(372, 13)

In [14]:
X_test.shape

(93, 13)

In [15]:
Y_train.shape

(372,)

In [16]:
Y_test.shape

(93,)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
dtc = DecisionTreeClassifier()
dtc.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [21]:
dtc.fit(X_train, Y_train)

DecisionTreeClassifier()

In [22]:
Y_pred = dtc.predict(X_test)

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
print(confusion_matrix(Y_test, Y_pred))

[[51 10]
 [ 9 23]]

In [25]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

           0       0.85      0.84      0.84        61
           1       0.70      0.72      0.71        32

    accuracy                           0.80        93
   macro avg       0.77      0.78      0.78        93
weighted avg       0.80      0.80      0.80        93

In [27]:
dtc.feature_importances_

array([0.01120308, 0.0274343 , 0.01879469, 0.06469923, 0.3873836 ,
       0.06580402, 0.00953164, 0.04585115, 0.04515849, 0.12538328,
       0.04098071, 0.03573274, 0.12204309])

In [28]:
X.columns

Index(['YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB',
       'BA'],
      dtype='object')

In [30]:
feature = pd.DataFrame(dtc.feature_importances_, index = X.columns)

In [35]:
feature.head(13)

            0
YRS  0.011203
G    0.027434
AB   0.018795
R    0.064699
H    0.387384
2B   0.065804
3B   0.009532
HR   0.045851
RBI  0.045158
BB   0.125383
SO   0.040981
SB   0.035733
BA   0.122043

In [39]:
dtc2 = DecisionTreeClassifier(criterion = "entropy", ccp_alpha = 0.04)

In [40]:
dtc2.fit(X_train, Y_train)

DecisionTreeClassifier(ccp_alpha=0.04, criterion='entropy')

In [41]:
Y_pred2 = dtc2.predict(X_test)

In [42]:
print(confusion_matrix(Y_test, Y_pred2))

[[50 11]
 [ 9 23]]

In [43]:
print(classification_report(Y_test, Y_pred2))

              precision    recall  f1-score   support

           0       0.85      0.82      0.83        61
           1       0.68      0.72      0.70        32

    accuracy                           0.78        93
   macro avg       0.76      0.77      0.77        93
weighted avg       0.79      0.78      0.79        93

In [44]:
feature2 = pd.DataFrame(dtc2.feature_importances_, index = X.columns)

In [46]:
feature2.head(13)

            0
YRS  0.000000
G    0.000000
AB   0.000000
R    0.000000
H    0.837977
2B   0.000000
3B   0.000000
HR   0.000000
RBI  0.000000
BB   0.000000
SO   0.000000
SB   0.000000
BA   0.162023